.footer-wrapper{
  width: 100%;
  margin-inline: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
.footer-socmeds{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.fa-instagram, .fa-twitter, .fa-linkedin, .fa-google, .fa-dribbble {
  background: #1B3D2F;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
}
.fa-facebook{
  background: #1B3D2F;
  color: white;
  padding: 10px 13px 10px 13px;
  border-radius: 4px;
}
.footer-socmeds a:hover{
  background-color: #FD8D14;
  color: white;
}

.footer-logo p{
  text-align: center;
  font-family: 'Switzer';
  font-weight: 400;
  color: #1B3D2F;
}